* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: gray;
  font-family: Century Gothic;
}

/* navbar style started */
header {
  margin: 3rem;
  background-color: #fff;
}

.navbar {
  margin-top: 1rem;
  display: flex;
  gap: 6rem;
  font-size: 18px;
}

.logo {
  margin-left: 70px;
  margin-top: -18px;
  cursor: pointer;
}

/* navbar style end  */

/* home section style start */

/* Container section  styles  start*/

/* container style  */
.container {
  background-color: rgba(244, 244, 244, 255);
  display: flex;
  padding: 20px;
}

/* Card  styles */
.card {
  margin: 20px;
}

/* Image inside the card */
.card img {
  width: 100%;
}

/* Card header styles */
.card-header {
  padding: 10px;
  color: black;
  text-align: start;
}

/* Card content styles */
.card-content {
  padding: 20px;
}

.subtitle {
  color: black;
  margin-bottom: 20px;
}

.learn-more {
  margin-top: 10px;
  color: orange;
}

/* Container section  styles end */

/* box section style */

/* box  styles */
.box {
  background-color: rgba(244, 244, 244, 255);
  display: flex;
  margin: 50px;
  padding: 40px;
  gap: 2pc;
}

/* image insdie box  */

.box img , .left-part , .right-part{
  width: 100%;
}

/* box section style end  */



/* box1 section style start */

.box1{
  margin: 50px;
}
.box1 h5{
  font-size: 20px;
  color: #231F20 !important;
  font-family: arial !important;
  font-weight: 600;
  padding-top: 22px;
  line-height: 26px;
}
.box1-img img{
  width: 100%;
  border:1.5px solid whitesmoke;
 
}
/* box1 section style end  */

/* home section style end  */
