*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
   

}

/* navbar style started */
header{
    margin: 3rem;
    background-color: #fff;
  
  

}

.navbar{
    margin-top: 1rem;
    display: flex;
    gap: 7rem;
    font-size: 18px;

   
}

 .logo{
    line-height: 10px;
    margin-left: 90px;
    cursor: pointer;
    font-size: 50px;
}


span{
    color:rgba(76, 76, 109, 0.904);
}

/* navbar style end  */